/* Error message styling */
.error-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.error {
    margin-bottom: 10px;
}

.error-messages {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.error-messages ul {
    list-style-type: none;
    padding-left: 0;
}

.error-messages li {
    color: #721c24;
}


/* Ensure that the form container doesn't get hidden by the header */
.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px; /* Add padding on left and right to keep buttons distant */
    width: 80%;
    max-width: 600px;
    margin-top: 0px; /* Adjust margin to clear the header */
}

/* Apply box-sizing only to the form elements */
.form-container input,
.form-container select,
.form-container button {
    box-sizing: border-box;
    width: calc(100% - 20px); /* Full width minus padding for a balanced layout */
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Rest of your existing styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-top: 140px;
    margin-bottom: 10px;
}

.form-container label {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* Button Styles */
.form-container button {
    background-color: #01458e;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.form-container button:hover {
    background-color: #02356b;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 100%;
    gap: 30px; /* Adjust the gap between the buttons */
}

.return-button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 30px; /* Increase space between buttons */
}

.form-button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 30px; /* Increase space between buttons */
}

