
        /* Your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 1100px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
            overflow-y: auto;
            /* Make the container scrollable */
            max-height: 550px;
            width: 100%;
        }

        .container:hover {
            box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.25);
            transform: scale(1.01);
        }

        h1 {
            text-align: center;
            color: #0d2444;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .grade-card {
            background: #2c6485;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            transition: 0.3s ease;
            border: 2px solid #ecdfce;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
        }

        .grade-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 15px 4px rgb(95, 142, 174);
        }

        .grade-card h2 {
            color: #f1eaeb;
            margin: 0 0 10px;
        }

        .grade-card p {
            margin: 5px 0;
            font-size: 16px;
            color: #ecdfce;
        }

        .cgpa {
            font-size: 22px;
            font-weight: bold;
            color: #0d2444;
            text-align: center;
        }
